body {
    /* font-family: Arial, sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.video-container {
    display: none;
    width: 80%;
    max-width: 800px;
    background: #000;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #fff;
}

h1, p {
    text-align: center;
}

video {
    width: 100%;
    border-radius: 10px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background: #ffffff;
    color: #000000;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background: #555;
}
a {
    text-decoration: none;
}
i{
    color: #000;
    font-size: larger;
}
.Contact {
    margin-left: -45%;
  margin-top: 50px; 
  text-align: left;
}
.Contact p{
    text-align: left;
}
.Contact a{
   color: #1879f8;
    text-decoration: none;
}
/* .sch-container{
    display: none;
} */
 
/* HTML: <div class="loader"></div> */
.loader {
    display: none; /* Hidden by default */
    width: 120px;
    height: 20px;
    background:
     linear-gradient(#000 0 0) 0/0% no-repeat
     #ddd;
    animation: l1 2s infinite linear;
  }
  @keyframes l1 {
      100% {background-size:100%}
  }


  